<header id="site-header" class="site-header">
  <div class="site-navigation">
    <div class="nav-wrapper nav-links">
      <div class="nav left">
        <div class="logo desktop">
          {{#if @site.icon}}
            <a href="{{ @site.url }}">
              <img class="icon" src="{{ @site.icon }}" alt="{{ @site.title }}" width="" height="">
            </a>
          {{else}}
            <a class="nav-link" href="{{ @site.url }}">{{ @site.title }}</a>
          {{/if}}
        </div>
        <div class="logo mobile">
          {{#if @site.icon}}
            <a href="{{ @site.url }}" class="mobile-logo">
              <img class="icon" src="{{ @site.icon }}" alt="{{ @site.title }} Mobile" width="" height="">
              <h1 class="icon title">{{ @site.title }}</h1>
            </a>
          {{else}}
            <a class="nav-link" href="{{ @site.url }}">
              <h1 class="icon title">{{ @site.title }}</h1>
            </a>
          {{/if}}
        </div>
        {{ navigation }}
      </div>
      <div class="nav right">
        <a href="#/search" data-ghost-search class="search-button" aria-label="{{t 'Search' }}">
          <i class="fa-solid fa-magnifying-glass"></i>
        </a>
        {{#if @member}}
          <a href="javascript:" data-members-signout class="nav-btn outline-btn">{{t 'Sign out' }}</a>
          <a href="#/portal/account" class="nav-btn filled-btn" data-portal="account/profile">{{t 'My Profile' }}</a>
        {{else}}
          <a href="#/portal/signin" class="nav-btn outline-btn">{{t 'Sign in' }}</a>
          <a href="#/portal/signup" class="nav-btn filled-btn">{{t 'Subscribe' }}</a>
        {{/if}}
        {{> "menus/hamburger" }}
      </div>
    </div>
  </div>
  <div class="tags-navigation">
    <div class="nav-wrapper tag-links">
      {{#get "tags" limit="25" include="count.posts" filter="slug:-[excel,terraform,tableau,frameworks,haproxy,codesnippetcorner,mapbox,powerbi,powerpivot,business-intelligence,saas,expressjs,hashicorp]" order="count.posts DESC"  }}
        <ul class="tags-list dragscroll">
          {{#foreach tags}}
            <li class="tag-item">
              <a href="{{ url }}" class="tag-link">{{ name }}</a>
            </li>
          {{/foreach}}
        </ul>
      {{/get}}
    </div>
  </div>
</header>