{{#is "tag"}}
    <section class="info-card">
        {{#if feature_image}}
        {{!-- This is a responsive image, it loads different sizes depending on device
        https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
            <img class="tag-image"
                 srcset="{{img_url feature_image size="s"}} 300w,
                            {{img_url feature_image size="m"}} 600w"
                 sizes="(max-width: 1000px) 400px, 800px"
                 src="{{img_url feature_image size="m"}}"
                 alt="{{title}}"
            />
        {{/if}}

        <div class="info-card-content">
            <header class="info-card-header">
                <h2 class="info-card-title">{{name}}</h2>
            </header>
            <div class="info-card-excerpt">
                {{#if description}}
                    {{description}}
                {{else}}
                    A collection of {{plural ../pagination.total empty='zero posts' singular='% post'
                                             plural='% posts'}}
                {{/if}}
            </div>
        </div>

    </section>
{{/is}}

{{#is "author"}}
    <section class="info-card author">
        {{#if feature_image}}
        {{!-- This is a responsive image, it loads different sizes depending on device
        https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
            <img class="author-image"
                 srcset="{{img_url feature_image size="s"}} 300w,
                            {{img_url feature_image size="m"}} 600w"
                 sizes="(max-width: 1000px) 400px, 800px"
                 src="{{img_url feature_image size="m"}}"
                 alt="{{title}}"
            />
        {{/if}}

        <div class="info-card-content">
            <header class="info-card-header">
                <h2 class="info-card-author-name">{{name}}</h2>
            </header>
            <div class="info-card-author-bio">
                {{#if description}}
                    {{description}}
                {{else}}
                    A collection of {{plural ../pagination.total empty='zero posts' singular='% post'
                                             plural='% posts'}}
                {{/if}}
            </div>
        </div>

    </section>
{{/is}}