<nav class="mobile-menu" aria-label="Mobile menu">
  <ul class="mobile-menu-links">
    <li class="nav-home mobile-nav-link">
      <a href="{{@site.url}}">Home</a>
    </li>
    {{#foreach navigation}}
      {{#has slug="tags"}}
        {{!-- Tags --}}
        <li class="{{link_class for=(url) class=(concat "mobile-nav-link nav-" slug)}}">
          <div id="mobile-nav-tags-links">
            <i class="fa-sharp fa-solid fa-angle-up"></i> <span>Tags</span>
          </div>
          <ul class="mobile-nav-links-list">
            {{#get "tags" limit="20" filter="slug:-[adventures-in-excel,microsoft-powerpivot,hash-newsletter,code-snippet-corner,mongodb-cloud]" include="count.posts" order="count.posts desc"}}
              {{#foreach tags visibility="public"}}
                <li class="mobile-nav-link">
                  <a href="{{url}}" title="{{name}}">{{name}}</a>
                </li>
              {{/foreach}}
            {{/get}}
          </ul>
        </li>
        {{else has slug="series"}}
          {{!-- Series --}}
          <li class="{{link_class for=(url) class=(concat "mobile-nav-link nav-" slug)}}">
            <div id="mobile-nav-series-links">
              <i class="fa-sharp fa-solid fa-angle-up"></i> <span>{{label}}</span>
            </div>
            <ul class="mobile-nav-links-list">
              {{#get "tags" limit="all" include="count.posts" order="count.posts desc"}}
                {{#foreach tags visibility="internal"}}
                  <li class="mobile-nav-link">
                    <a href="/series/{{slug}}" title="{{meta_title}}">{{meta_title}}</a>
                  </li>
                {{/foreach}}
              {{/get}}
            </ul>
          </li>
          {{else}}
            <li class="{{link_class for=(url) class=(concat "mobile-nav-link nav-" slug)}}">
              <a href="{{url absolute="true"}}" title="{{name}}">{{label}}</a>
            </li>
      {{/has}}
      </li>
    {{/foreach}}
  </ul>
</nav>