<header class="site-header">

    <div class="site-navigation">
        <div class="nav-wrapper nav-links">
            <div class="nav left">
                <div class="logo">
                    {{#if @site.icon}}
                        <a href="{{ @site.url }}">
                            <img class="icon" src="{{ @site.icon }}" alt="{{ @site.title }}" width="" height="">
                        </a>
                    {{else}}
                        <a class="nav-link" href="{{ @site.url }}">{{ @site.title }}</a>
                    {{/if}}
                </div>
                {{ navigation }}
            </div>

            <ul class="nav right">
                <li class="nav-item">
                    <a href="#" class="nav-link toggle-search-button js-search-toggle" aria-label="{{t 'Search' }}">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </a>
                </li>
                {{#if @member}}
                    <li class="nav-item"><a href="#/portal/account" class="nav-link">{{t 'Account' }}</a></li>
                {{else}}
                    <li class="nav-item"><a href="#/portal/signin" class="nav-btn outline">{{t 'Log in' }}</a></li>
                    <li class="nav-item"><a href="#/portal/signup" class="nav-btn filled">{{t 'Subscribe' }}</a></li>
                {{/if}}
            </ul>
        </div>
    </div>

    <div class="tags-navigation">
        <div class="nav-wrapper tag-links">
            {{#get "tags" limit="20" include="count.posts" order="count.posts DESC" filter="slug:-Latest" }}
                <ul class="tags-list dragscroll">
                    <li class="tag-item">
                        <a href="/" class="tag-link">{{t "Latest" }}</a>
                    </li>
                    {{#foreach tags}}
                        <li class="tag-item">
                            <a href="{{ url }}" class="tag-link">{{ name }}</a>
                        </li>
                    {{/foreach}}
                </ul>
            {{/get}}
        </div>
    </div>

</header>