<div class='widget links'>
  <h4 class='footer-title'>{{t 'Pages' }}</h4>
  <ul class='footer-list'>
    {{#foreach navigation}}
      <li class="footer-nav-link">
        <a href="{{url absolute="true"}}" class="footer-navigation-link">{{label}}</a>
      </li>
    {{/foreach}}
    {{#if @member}}
      <li class="footer-nav-link mobile-nav-link nav-signout">
        <a class="footer-navigation-link" href="javascript:" data-members-signout>{{t 'Sign out' }} </a>
      </li>
    {{else}}
      <li class="footer-nav-link mobile-nav-link nav-signin"><a href="#/portal/signin" class="footer-navigation-link">{{t 'Sign in' }}</a></li>
      <li class="footer-nav-link mobile-nav-link nav-signup"><a href="#/portal/signup" class="footer-navigation-link">{{t 'Subscribe' }}</a></li>
    {{/if}}
  </ul>
</div>