{{#if 'authors'}}
  <div class='widget authors'>
    <h4 class='footer-title'>{{t 'Authors' }}</h4>
    <ul class='footer-list'>
      {{#get 'authors' limit='8' order="posts.count desc"}}
        {{#foreach authors}}
          <li class="footer-nav-link">
            <a href="/author/{{slug}}" title="{{name}}" class="author-{{slug}} {{slug}} footer-navigation-link">
              {{name}}
            </a>
          </li>
        {{/foreach}}
      {{/get}}
    </ul>
  </div>
{{/if}}