<!DOCTYPE html>
<html lang="{{@site.locale}}">

  <head>
    {{! Basic metadata }}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <meta name="theme-color" content="#5eb9d7" />
    <script defer data-domain="hackersandslackers.com" src="https://plausible.io/js/script.js"></script>
    {{! Theme JS }}
    <script src="https://kit.fontawesome.com/5b4eea6520.js" crossorigin="anonymous"></script>
    <script src="{{asset 'built/main.js'}}"></script>
    {{! Theme CSS }}
    <link rel="stylesheet" type="text/css" href="{{asset 'built/global.css'}}" />
    <link rel="shortcut icon" href="{{@site.icon}}" />
    {{!-- Post meta, scripts and styles. --}}
    {{#is "post"}}
      <script src="{{asset 'built/post.js'}}"></script>
    {{/is}}
    {{#is "page, author, tag"}}
      <script src="{{asset 'built/page.js'}}"></script>
    {{/is}}
    {{#is "series"}}
      <script src="{{asset 'built/series.js'}}"></script>
    {{/is}}
    {{#is "author"}}
      <script src="{{asset 'built/author.js'}}"></script>
    {{/is}}
    {{! Advanced SEO meta data}}
    {{ghost_head}}
  </head>

  <body class="{{body_class}}">
    {{> "site-navigation" }}
    <div class="viewport">
      <div class="site-content">
        {{! All other templates get inserted here, index.hbs, post.hbs, etc}}
        {{{body}}}
      </div>
    </div>
    {{! The global footer at the very bottom of the screen }}
    {{> "footer/footer" }}
    {{ghost_foot}}
  </body>

</html>