<!DOCTYPE html>
<html lang="{{@site.locale}}">

  <head>
    {{!-- Basic metadata --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <meta name="theme-color" content="#5eb9d7" />
    <link rel="shortcut icon" href="{{@site.icon}}" />
    {{!-- Preload main styles and scripts for better performance --}}
    <link rel="preload" as="style" href="{{asset "built/global.css"}}">
    <link rel="preload" as="script" href="{{asset "built/main.js"}}">
    {{!-- Theme CSS --}}
    <!-- <link rel="stylesheet" type="text/css" href="{{asset 'built/hamburgers.min.css'}}" /> -->
    <link rel="stylesheet" type="text/css" href="{{asset 'built/global.css'}}" />
    {{!-- Custom Theme JS --}}
    <script src="{{asset 'built/github-widget.js'}}"></script>
    <script src="https://kit.fontawesome.com/0dae50f8a6.js" crossorigin="anonymous"></script>
    {{!-- Analytics JS --}}
    <script defer data-domain="hackersandslackers.com" src="https://plausible.io/js/script.outbound-links.pageview-props.tagged-events.js"></script>
    <script>window.plausible = window.plausible || function () { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
    {{!-- Page-specific JS --}}
    {{#is "post"}}
      <script src="{{asset 'built/post.js'}}"></script>
      <script src="https://js.linkz.ai/?key=113483423586035531643"></script>
    {{/is}}
    {{#is "page, author, tag, about, series"}}
      <script src="{{asset 'built/page.js'}}"></script>
    {{/is}}
    {{#is "author"}}
      <script src="{{asset 'built/author.js'}}"></script>
    {{/is}}
    {{ghost_head}}
  </head>

  <body class="{{body_class}}">
    {{> "header" }}
    {{> "menus/mobile-menu" }}
    <div class="viewport">
      <div class="site-content">
        {{! All other templates get inserted here, index.hbs, post.hbs, etc}}
        {{{body}}}
      </div>
    </div>
    {{!-- The global footer at the very bottom of the screen --}}
    {{> "footer/footer" }}
    {{ghost_foot}}
    {{!-- Load JS --}}
    <script src="{{asset 'built/main.js'}}"></script>
    <script src="https://unpkg.com/bsky-widget@~0.1/dist/index.js" type="module"></script>
  </body>

</html>