{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

<main id="site-main" class="site-main outer">

    <div class="inner posts sidebar-container">

        <div class="post-feed">
            {{#tag}}
                <section class="info-card">

                    {{#if feature_image}}
                    {{!-- This is a responsive image, it loads different sizes depending on device
                    https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
                        <img class="tag-image"
                             srcset="{{img_url feature_image size="s"}} 300w,
                            {{img_url feature_image size="m"}} 600w,
                            {{img_url feature_image size="l"}} 1000w,
                            {{img_url feature_image size="xl"}} 2000w"
                             sizes="(max-width: 1000px) 400px, 800px"
                             src="{{img_url feature_image size="m"}}"
                             alt="{{title}}"
                        />
                    {{/if}}

                    <div class="info-card-content">
                        <header class="info-card-header">
                            <h2 class="info-card-title">{{name}}</h2>
                        </header>
                        <div class="info-card-excerpt">
                            {{#if description}}
                                {{description}}
                            {{else}}
                                A collection of {{plural ../pagination.total empty='zero posts' singular='% post'
                                                         plural='% posts'}}
                            {{/if}}
                        </div>
                    </div>

                </section>
            {{/tag}}

            {{#foreach posts}}
            {{!-- The tag below includes the markup for each post - partials/info-card.hbs --}}
                {{> "post-card"}}
            {{/foreach}}
        </div>

        <div class="sidebar">
            {{> "sidebar/sidebar" }}
        </div>

    </div>

</main>
