<div class="series-nextprev">
  {{#foreach tags visibility="internal" limit="1"}}
    {{!--
    <div>
      <p>{{slug}}</p>
      <p>{{name}}</p>
      <p>{{published_at}}</p>
    </div>
    --}}
    {{#get "posts" filter="tags:[{{slug}}]" limit="1" order="published_at asc"}}
      {{#foreach posts}}
        <a href="{{url}}" class="series-nextprev-button">
          <h6 class="series-nextprev-label">Previous Post</h6>
          <span class="series-nextprev-title">{{title}}</span>
        </a>
      {{/foreach}}
    {{/get}}
    {{#get "posts" filter="tags:[{{slug}}]" limit="1" order="published_at asc"}}
      {{#foreach posts}}
        <a href="{{url}}" class="series-nextprev-button">
          <h6 class="series-nextprev-label">Next Post</h6>
          <span class="series-nextprev-title">{{title}}</span>
        </a>
      {{/foreach}}
    {{/get}}
  {{/foreach}}
</div>