<div class="series-summary-card">
    <a href="{{url}}">
        {{#if feature_image}}
            <img class="series-summary-image"
                 srcset="{{img_url feature_image size="s"}} 300w,
                            {{img_url feature_image size="m"}} 600w"
                 sizes="(max-width: 1000px) 400px, 800px"
                 src="{{img_url feature_image size="m"}}"
                 alt="{{title}}"
            />
        {{/if}}
        <div class="series-summary-description">
            <h3>{{title}}</h3>

            {{!-- Replicating the behavior found on `https://hackersandslackers.com/series/` _may_ be impossible.
                <div class="series-summary-topics">

                </div>
            --}}}

            {{#if description}}
                <p>{{description}}</p>
            {{/if}}

            <span class="post-count">
                {{plural count.posts empty=(t "0 Post") singular=(t "% Post") plural=(t "% Posts")}}
            </span>
        </div>
    </a>
</div>