<div class="series-toc">
    <h2>{{name}}</h2>
    <p>{{slug}}</p>
    <ol>
        {{#get "posts" limit="all" filter="tag:{{slug}}" as |series-post|}}
        {{#foreach series-post}}
        <li>
            <a href="{{url}}">{{title}}</a>
        </li>
        {{/foreach}}
        {{/get}}
    </ol>
</div>