{{#unless @member}}
  <div class='widget newsletter'>
    <div class='subscribe'>
      <h3 class="widget-title">Newsletter</h3>
      <p>{{t 'Create an account to receive occasional updates and interact with the community.' }}</p>
      <form data-members-form="subscribe" class="subscribe-form {{ formClass }}">
        <label for="input-name">Name</label>
        <input
          data-members-name
          data-test-input="input-name"
          id="input-name"
          class="sidebar-input-field"
          type="text"
          name="name"
          placeholder="{{t 'Bryan Adams'}}"
          onfocus="this.placeholder = ''"
          onblur="this.placeholder = 'Bryan Adams'"
          autocomplete="off"
          autocorrect="off" />
        <label for="{{ inputLabel }}">Email</label>
        <input
          data-members-email
          data-test-input="input-email"
          id="input-email"
          class="sidebar-input-field"
          type="email"
          name="email"
          required="true"
          placeholder="{{t 'bryanadams@gmail.com'}}"
          onfocus="this.placeholder = ''"
          onblur="this.placeholder = 'bryanadams@gmail.com'" />
        <button type='submit' value='{{t ' Subscribe' }}' class='sidebar-btn filled'>
          {{t 'Sign Up' }}
          <i class="fa-sharp fa-solid fa-arrow-right"></i>
        </button>
        <div class="newsletter-messages">
          <div class="message success">
            <span class="success-title">Great!</span>
            <p class="success-message">Check your inbox and click the link to complete the subscription.</p>
          </div>
          <div class="message error">
            <span class="error-title">Error</span>
            <p data-members-error><!-- error message will appear here --></p>
          </div>
          <div class="message loading">
            <span>Loading...</span>
          </div>
        </div>
      </form>
    </div>
  </div>
{{/unless}}