{{#unless @member}}
<div class='widget newsletter'>

  <div class='subscribe'>
    <h3 class="widget-title">Newsletter</h3>
    <p>{{t 'Create an account to receive occasional updates and interact with the community.' }}</p>

    <form data-members-form='signup' class='subscribe-form {{ formClass }}'>
      <input data-members-name type='text' name='name' id='{{ inputLabel }}' placeholder='{{t ' Your name' }}'
        class="sidebar-input-field" required="true">

      <input data-members-email type='email' name='email' id='{{ inputLabel }}' placeholder='{{t ' Your email address'
        }}' class="sidebar-input-field" required="true">

      <button type='submit' value='{{t ' Subscribe' }}' class='sidebar-btn filled'>
        {{t 'Sign Up' }}
        <i class="fa-sharp fa-solid fa-arrow-right"></i>
      </button>
    </form>
  </div>
</div>
{{/unless}}