<nav class="mobile-menu" aria-label="Mobile menu">
  <ul class="mobile-menu-links">
    <li class="nav-home mobile-nav-link">
      <a href="{{@site.url}}">Home</a>
    </li>
    {{#foreach navigation}}
      {{#has slug="tags"}}
        {{> "navigation/mobile-menu-tags-subnav"}}
        {{else has slug="series"}}
          {{> "navigation/mobile-menu-series-subnav"}}
          {{else}}
            <li class="{{link_class for=(url) class=(concat "mobile-nav-link nav-" slug)}}">
              <a href="{{url absolute="true"}}" title="{{name}}">{{label}}</a>
            </li>
      {{/has}}
      </li>
    {{/foreach}}
  </ul>
</nav>