<section class="author-card author-page-title-card">
  <div class="author-card-wrapper">
    <div class="author-avatar-wrapper">
      {{#if profile_image}}
        <img class="author-profile-pic" src="{{img_url profile_image}}" alt="{{name}}" />
      {{else}}
        <i class="fa-sharp fa-solid fa-user-pen"></i>
      {{/if}}
    </div>
    <div class="author-details">
      <h1 class="author-card-title">{{name}}</h1>
      <div class="author-meta">
        {{#if location}}
          <div class="author-meta-item location">
            <i class="fa-light fa-location-dot"></i>
            <span class="author-profile-location">{{location}}</span>
          </div>
        {{/if}}
        {{#if website}}
          <div class="author-meta-item">
            <a class="author-profile-social-link" href="{{website}}" target="_blank" rel="noopener">
              <i class="fa-sharp fa-solid fa-link"></i>
            </a>
          </div>
        {{/if}}
        {{#if twitter}}
          <div class="author-meta-item">
            <a class="author-profile-social-link twitter" href="{{twitter_url}}" target="_blank" rel="noopener">
              <i class="fa-brands fa-bluesky"></i>
            </a>
          </div>
        {{/if}}
        {{#if facebook}}
          <div class="author-meta-item">
            <a class="author-profile-social-link github" href="{{facebook_url}}" target="_blank" rel="noopener">
              <i class="fa-brands fa-github"></i>
            </a>
          </div>
        {{/if}}
      </div>
      {{#if bio}}
        <div class="author-card-excerpt">{{bio}}</div>
      {{/if}}
    </div>
  </div>
</section>