{{!-- about the author --}}
{{#primary_author}}
  <div class="author-card {{slug}}">
    <div class="author-card-wrapper">
      {{#if profile_image}}
        <a href="{{url}}" class="author-avatar-link">
          <img src="{{img_url profile_image}}" alt="{{name}}'s' avatar" loading="lazy" class="lazy author-image" />
        </a>
      {{else}}
        <a href="{{url}}" class="author-avatar-link">
          <i class="fa-sharp fa-solid fa-user-pen"></i>
        </a>
      {{/if}}
      <div class="author-details">
        <div class="author-card-name-wrapper">
          <div>
            <a class="author-name" href="{{url}}">{{name}}</a>
            <span class="author-post-count">{{plural count.posts empty=(t "0 Posts") singular=(t "% Post") plural=(t "% Posts")}}</span>
          </div>
        </div>
        <div class="author-meta">
          {{#if location}}
            <div class="author-meta-item">
              <i class="fa-sharp fa-solid fa-location-dot"></i>
              <span class="author-location">{{location}}</span>
            </div>
          {{/if}}
          {{#if website}}
            <div class="author-meta-item">
              <a class="author-profile-social-link website" href="{{website}}" target="_BLANK"><i class="fa-sharp fa-solid fa-link"></i></a>
            </div>
          {{/if}}
          {{#if twitter}}
            <div class="author-meta-item">
              <a class="author-profile-social-link twitter" href="{{twitter_url}}"><i class="fab fa-x-twitter"></i></a>
            </div>
          {{/if}}
          {{#if facebook}}
            <div class="author-meta-item">
              <a class="author-profile-social-link github" href="{{facebook_url}}"><i class="fa-brands fa-github"></i></a>
            </div>
          {{/if}}
        </div>
        {{#if bio}}
          <p class="author-card-excerpt">{{bio}}</p>
        {{/if}}
      </div>
    </div>
  </div>
{{/primary_author}}
{{!-- end widget --}}