<div class="support-us">
  <div class="support-us-newsletter">
    <span class="support-us-title">Monthly Newsletter</span>
    <form data-members-form="signup" class='subscribe-form {{ formClass }}'>
      <input
        data-members-name
        type='text'
        name='name'
        id='{{ inputLabel }}'
        class="support-input-field"
        placeholder='{{t ' Your name' }}'
        autocomplete="given-name"
        required="true" />
      <input
        data-members-email
        type='email'
        name='email'
        id='{{ inputLabel }}'
        class="support-input-field"
        placeholder='{{t ' Your email address'}}'
        autocomplete="email"
        required="true" />
      <button type='submit' value='{{t ' Subscribe' }}' class='sidebar-btn filled'>
        {{t 'Sign Up' }}
        <i class="fa-sharp fa-solid fa-arrow-right"></i>
      </button>
    </form>
  </div>
  <div class="support-us-donate">
    <span class="support-us-title">Support us</span>
    <p class="support-description">We share tutorials to help and inspire new engineers and enthusiasts. If you've found Hackers and Slackers to be helpful, we welcome donations in the form of coffee :).</p>
    <a href="https://www.buymeacoffee.com/hackersslackers">
      <img class="support-coffee-button" src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&emoji=☕&slug=hackersslackers&button_colour=0297f6&font_colour=ffffff&font_family=Cookie&outline_colour=000000&coffee_colour=FFDD00" />
    </a>
  </div>
</div>