<nav class="mobile-menu" aria-label="Mobile menu">
  <ul class="mobile-menu-links">
    <li class="nav-home mobile-nav-link">
      <a href="{{@site.url}}">Home</a>
    </li>
    {{#foreach navigation}}
      {{#has slug="tags"}}
        {{> "menus/mobile-menu-tags-subnav"}}
          <li class="{{link_class for=(url) class=(concat "mobile-nav-link nav-" slug)}}">
            <a href="{{url absolute="true"}}" title="{{name}}">{{label}}</a>
          </li>
      {{/has}}
      {{#has slug="series"}}
        {{> "menus/mobile-menu-series-subnav"}}
          <li class="{{link_class for=(url) class=(concat "mobile-nav-link nav-" slug)}}">
            <a href="{{url absolute="true"}}" title="{{name}}">{{label}}</a>
          </li>
      {{/has}}
      </li>
    {{/foreach}}
    {{#if @member}}
      <li class="mobile-nav-link nav-signout"><a href="javascript:" data-members-signout>{{t 'Sign out' }}</a></li>
    {{else}}
      <li class="mobile-nav-link nav-signin"><a href="#/portal/signin">{{t 'Sign in' }}</a></li>
      <li class="mobile-nav-link nav-signup"><a href="#/portal/signup">{{t 'Subscribe' }}</a></li>
    {{/if}}
  </ul>
</nav>